## Basic Operations

In [63]:
# primitives constructs in text
text1 = 'Ethics are built right into the ideals and objectives of the United Nations'

In [9]:
len(text1)

75

In [10]:
# primitive tokenization
text2 = text1.split(' ')
len(text2)

13

In [11]:
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations']

In [12]:
# looking for long words
[w for w in text2 if len(w)>3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [13]:
# looking for capitalize words
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [14]:
# words that ends with s
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [15]:
text3 = 'To be or not to be'
text4 = text3.split(' ')

In [16]:
len(text4)

6

In [17]:
text4

['To', 'be', 'or', 'not', 'to', 'be']

In [18]:
len(set(text4))

5

In [19]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [23]:
len(set([w.lower() for w in text4 ]))

4

In [24]:
set([w.lower() for w in text4 ])

{'be', 'not', 'or', 'to'}

In [26]:
## s.startswith(t)
## s.endswith(t)
## t in s
## s.isupper(), s.islower(), s.istitle()
## s.isalpha(), s.isdigit(), s.isalnum()
## s.split()
## s.splitlines()
## s.join(list)
## s.strip(), s.rstrip()
## s.find(t), s.rfind(t)
## s.replace(u,v)

In [ ]:
text5 = 'ouagadougou'
text6 = text5.split('ou')

In [27]:
text6

['', 'agad', 'g', '']

In [28]:
'ou'.join(text6)

'ouagadougou'

In [30]:
text5.split('')

ValueError: empty separator

In [31]:
# get all the characters
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [32]:
# get all the characters
[c for c in text5]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [35]:
## Cleaning text
text8 = '   A quick brown fox jumped over the lazy dog. '
text8.split(' ')

['',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [36]:
text9 = text8.strip()
text9

'A quick brown fox jumped over the lazy dog.'

In [37]:
text9.split(' ')

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [38]:
text9.find('o') # where is the first o

10

In [39]:
text9.replace('o', 'O')

'A quick brOwn fOx jumped Over the lazy dOg.'

In [41]:
import pandas as pd

df = pd.DataFrame({'textos': ['Esta es una prueba', 
                             'Esta es otra prueba', 
                             'Esto lo hago para probar']})

df

                     textos
0        Esta es una prueba
1       Esta es otra prueba
2  Esto lo hago para probar

In [43]:
df['textos'].find('a')

AttributeError: 'Series' object has no attribute 'find'

In [44]:
df['textos'].str.find('a')

0    3
1    3
2    9
Name: textos, dtype: int64

In [45]:
f = open('UNDHR.txt', 'r') # filename, mode
## f.readline(), f.read(), f.read(n)
## for line in f: doSomething(line)
## f.seek(n) reset the reading position
## f.write(message)  write a message to the file (if it is opened in the appropriate mode)
## f.close()
## f.closed

In [47]:
## reading files line by line
f.readline()

'Universal Declaration of Human Rights - English\n'

In [51]:
## reading the full line
f.seek(0) # resets the reading
text12 = f.read() # it will read the whole file

In [53]:
len(text12)

12534

In [55]:
text13 = text12.splitlines()
len(text13) # number of lines. Which ends with a \n

218

In [56]:
text13[0] # first line

'Universal Declaration of Human Rights - English'

In [62]:
f = open('UNDHR.txt', 'r')
text14 = f.readline()
## removing the last newline character
text14.strip()

'Universal Declaration of Human Rights - English'

## Regular Expresions

In [66]:
text10 = 'Ethics are built right into the ideals and objectives of the United Nations #UNSG @ NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_Women '

In [67]:
text11 = text10.split(' ')
text11

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr',
 '@UN',
 '@UN_Women',
 '']

In [68]:
## finding hashtags
[w for w in text11 if w.startswith('#')]

['#UNSG']

In [69]:
## callouts
[w for w in text11 if w.startswith('@')]
## here is where regular expresion appear

['@', '@UN', '@UN_Women']

In [70]:
import re
[w for w in text11 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [71]:
## regular expresions:
## . ==> matches with a single character
## ^ ==> it indicates the start of the string
## $ ==> the end of the string
## [] ==> matches one the set of characters within []
## [a-z] ==> matches one of the range characters a,b,c,..,z
## [^abc] ==> matches a character that is not a,b, or c
## a|b ==> matches either a or b, where a and b are strings

## \b matches word boundry
## \d any digit, equivalent to [0-9]
## \D any non-digit, equivalent to [^0-9]
## \s any whitespace
## \S any non-whitespace
## \w alphanumeric character
## \W any non-alphanumeric character

## * matches 0 or more times
## + matches 1 or more times
## ? matches 0 or more times
## {n} exactly n repetitions, n>=0
## {n,} at least n repetitions
## {,n} at most n repetitions

In [72]:
[w for w in text11 if re.search('@\w+', w)]

['@UN', '@UN_Women']

In [73]:
## finding specific characters
text12 = 'ouagadougou'
re.findall(r'[aeiou]', text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [74]:
re.findall(r'[^aeiou]', text12)

['g', 'd', 'g']

In [108]:
## regular expresions for dates
## 23/10/2022

dateStr = '23-10-200\n23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\n October 23, 2002\n'

In [109]:
re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}', dateStr)

['23-10-200', '23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [82]:
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)
## como esta en parentesis no hace ninguna otra busqueda

['Oct']

In [85]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}', dateStr)

['23 Oct 2002', '23 October 2002']

## Working with text data in pandas

In [88]:
import pandas as pd

time_sentences = ['Monday:The doctors appointment is at 2:45pm.',
                  'Tuesday: The dentists appointment is at 11:30 am.',
                  'Wednesday: At 7:00pm, there is a basketball game!',
                  'Thursday: Be back home by 11:15 pm at the latest',
                  'Friday: Take the train at 08:10 am, arrive at 09:00am.'
]

df = pd.DataFrame(time_sentences, columns = ['text'])
df

                                                text
0       Monday:The doctors appointment is at 2:45pm.
1  Tuesday: The dentists appointment is at 11:30 am.
2  Wednesday: At 7:00pm, there is a basketball game!
3   Thursday: Be back home by 11:15 pm at the latest
4  Friday: Take the train at 08:10 am, arrive at ...

In [89]:
df['text'].str.len()

0    44
1    49
2    49
3    48
4    54
Name: text, dtype: int64

In [91]:
df['text'].str.split().str.len()

0     6
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [92]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [93]:
df['text'].str.count(r'\d')
# cuenta las veces que aparece un digito

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [94]:
df['text'].str.findall(r'\d')
# muestra los digitos

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [97]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [101]:
df['text'].str.replace(r'\w+day\b', '???')

/tmp/ipykernel_7614/2023952851.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'\w+day\b', '???')

0            ???:The doctors appointment is at 2:45pm.
1        ???: The dentists appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3          ???: Be back home by 11:15 pm at the latest
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [104]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

/tmp/ipykernel_7614/1376844824.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0            Mon:The doctors appointment is at 2:45pm.
1        Tue: The dentists appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3          Thu: Be back home by 11:15 pm at the latest
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [105]:
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [106]:
df['text'].str.extractall(r'((\d?\d):(\d\d)?([ap]m))')

               0   1   2   3
  match
0 0       2:45pm   2  45  pm
2 0       7:00pm   7  00  pm
4 0      09:00am  09  00  am

In [107]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d)?(?P<period>[ap]m))')

            time hour minute period
  match
0 0       2:45pm    2     45     pm
2 0       7:00pm    7     00     pm
4 0      09:00am   09     00     am

## Basic Natural Language Processing task with NLTK

In [113]:
#pip install nltk

In [1]:
import nltk

In [3]:
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [4]:
text1

In [5]:
sents()

sent1: Call me Ishmael .
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [6]:
sent1

['Call', 'me', 'Ishmael', '.']

In [7]:
text7

In [8]:
sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [9]:
len(sent7) ## number of tokens

18

In [10]:
len(text7)

100676

In [11]:
len(set(text7)) ## unique number of words

12408

In [12]:
list(set(text7))[:10]

['cotton',
 '*T*-61',
 'reality',
 'geography',
 '*T*-226',
 'subjecting',
 'turf',
 'weakening',
 'anticipates',
 '41.60']

In [14]:
## frequency distribution
dist = FreqDist(text7)

In [15]:
dist

FreqDist({',': 4885, 'the': 4045, '.': 3828, 'of': 2319, 'to': 2164, 'a': 1878, 'in': 1572, 'and': 1511, '*-1': 1123, '0': 1099, ...})

In [16]:
len(dist)

12408

In [20]:
vocab = dist.keys()
type(vocab)

dict_keys

In [24]:
list(vocab)[:10]

['Pierre', 'Vinken', ',', '61', 'years', 'old', 'will', 'join', 'the', 'board']

In [25]:
dist['four'] ## esta palabra aparece 20 veces

20

In [28]:
## frequent words if len of this word is > 5 and dist >100
freqw = [w for w in vocab if len(w)>5 and dist[w]>100]
freqw

['billion',
 'company',
 'president',
 'because',
 'market',
 'million',
 'shares',
 'trading',
 'program']

## Stemming

In [30]:
# normalization and stemming
input1 = "List listed lists listing listings"
# lower case 
words1 = input1.lower().split(' ')
words1

['list', 'listed', 'lists', 'listing', 'listings']

In [32]:
#stemming (looking for the root form of the word)
porter = nltk.PorterStemmer()
[porter.stem(t) for t in words1]

['list', 'list', 'list', 'list', 'list']

In [34]:
#lemmatization is a slight variant of stemming
udhr = nltk.corpus.udhr.words('English-Latin1')
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [35]:
[porter.stem(t) for t in udhr]

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of',
 'all',
 'member',
 'of',
 'the',
 'human',
 'famili',
 'is',
 'the',
 'foundat',
 'of',
 'freedom',
 ',',
 'justic',
 'and',
 'peac',
 'in',
 'the',
 'world',
 ',',
 'wherea',
 'disregard',
 'and',
 'contempt',
 'for',
 'human',
 'right',
 'have',
 'result',
 'in',
 'barbar',
 'act',
 'which',
 'have',
 'outrag',
 'the',
 'conscienc',
 'of',
 'mankind',
 ',',
 'and',
 'the',
 'advent',
 'of',
 'a',
 'world',
 'in',
 'which',
 'human',
 'be',
 'shall',
 'enjoy',
 'freedom',
 'of',
 'speech',
 'and',
 'belief',
 'and',
 'freedom',
 'from',
 'fear',
 'and',
 'want',
 'ha',
 'been',
 'proclaim',
 'as',
 'the',
 'highest',
 'aspir',
 'of',
 'the',
 'common',
 'peopl',
 ',',
 'wherea',
 'it',
 'is',
 'essenti',
 ',',
 'if',
 'man',
 'is',
 'not',
 'to',
 'be',
 'compel',
 'to',
 'have',
 'recours',
 ',',
 'as',
 'a',
 'last',
 'resort',
 ',',
 'to',
 'rebellion',
 'against',
 'tyranni',
 'and',
 'oppress',
 ',',
 'that',
 'human',
 'right',
 'should',
 'be',
 'protect',
 'by',
 'the',
 'rule',
 'of',
 'law',
 ',',
 'wherea',
 'it',
 'is',
 'essenti',
 'to',
 'promot',
 'the',
 'develop',
 'of',
 'friendli',
 'relat',
 'between',
 'nation',
 ',',
 'wherea',
 'the',
 'peopl',
 'of',
 'the',
 'unit',
 'nation',
 'have',
 'in',
 'the',
 'charter',
 'reaffirm',
 'their',
 'faith',
 'in',
 'fundament',
 'human',
 'right',
 ',',
 'in',
 'the',
 'digniti',
 'and',
 'worth',
 'of',
 'the',
 'human',
 'person',
 'and',
 'in',
 'the',
 'equal',
 'right',
 'of',
 'men',
 'and',
 'women',
 'and',
 'have',
 'determin',
 'to',
 'promot',
 'social',
 'progress',
 'and',
 'better',
 'standard',
 'of',
 'life',
 'in',
 'larger',
 'freedom',
 ',',
 'wherea',
 'member',
 'state',
 'have',
 'pledg',
 'themselv',
 'to',
 'achiev',
 ',',
 'in',
 'cooper',
 'with',
 'the',
 'unit',
 'nation',
 ',',
 'the',
 'promot',
 'of',
 'univers',
 'respect',
 'for',
 'and',
 'observ',
 'of',
 'human',
 'right',
 'and',
 'fundament',
 'freedom',
 ',',
 'wherea',
 'a',
 'common',
 'understand',
 'of',
 'these',
 'right',
 'and',
 'freedom',
 'is',
 'of',
 'the',
 'greatest',
 'import',
 'for',
 'the',
 'full',
 'realiz',
 'of',
 'thi',
 'pledg',
 ',',
 'now',
 ',',
 'therefor',
 ',',
 'the',
 'gener',
 'assembl',
 ',',
 'proclaim',
 'thi',
 'univers',
 'declar',
 'of',
 'human',
 'right',
 'as',
 'a',
 'common',
 'standard',
 'of',
 'achiev',
 'for',
 'all',
 'peopl',
 'and',
 'all',
 'nation',
 ',',
 'to',
 'the',
 'end',
 'that',
 'everi',
 'individu',
 'and',
 'everi',
 'organ',
 'of',
 'societi',
 ',',
 'keep',
 'thi',
 'declar',
 'constantli',
 'in',
 'mind',
 ',',
 'shall',
 'strive',
 'by',
 'teach',
 'and',
 'educ',
 'to',
 'promot',
 'respect',
 'for',
 'these',
 'right',
 'and',
 'freedom',
 'and',
 'by',
 'progress',
 'measur',
 ',',
 'nation',
 'and',
 'intern',
 ',',
 'to',
 'secur',
 'their',
 'univers',
 'and',
 'effect',
 'recognit',
 'and',
 'observ',
 ',',
 'both',
 'among',
 'the',
 'peopl',
 'of',
 'member',
 'state',
 'themselv',
 'and',
 'among',
 'the',
 'peopl',
 'of',
 'territori',
 'under',
 'their',
 'jurisdict',
 '.',
 'articl',
 '1',
 'all',
 'human',
 'be',
 'are',
 'born',
 'free',
 'and',
 'equal',
 'in',
 'digniti',
 'and',
 'right',
 '.',
 'they',
 'are',
 'endow',
 'with',
 'reason',
 'and',
 'conscienc',
 'and',
 'should',
 'act',
 'toward',
 'one',
 'anoth',
 'in',
 'a',
 'spirit',
 'of',
 'brotherhood',
 '.',
 'articl',
 '2',
 'everyon',
 'is',
 'entitl',
 'to',
 'all',
 'the',
 'right',
 'and',
 'freedom',
 'set',
 'forth',
 'in',
 'thi',
 'declar',
 ',',
 'without',
 'distinct',
 'of',
 'ani',
 'kind',
 ',',
 'such',
 'as',
 'race',
 ',',
 'colour',
 ',',
 'sex',
 ',',
 'languag',
 ',',
 'religion',
 ',',
 'polit',
 'or',
 'other',
 'opinion',
 ',',
 'nation',
 'or',
 'social',
 'origin',
 ',',
 'properti',
 ',',
 'birth',
 'or',
 'other',
 'statu',
 '.',
 'furthermor',
 ',',
 'no',
 'distinct',
 'shall',
 'be',
 'made',
 'on',
 'the',
 'basi',
 'of',
 'the',
 'polit',
 ',',
 'jurisdict',
 'or',
 'intern',
 'statu',
 'of',
 'the',
 'countri',
 'or',
 'territori',
 'to',
 'which',
 'a',
 'person',
 'belong',
 ',',
 'whether',
 'it',
 'be',
 'independ',
 ',',
 'trust',
 ',',
 'non',
 '-',
 'self',
 '-',
 'govern',
 'or',
 'under',
 'ani',
 'other',
 'limit',
 'of',
 'sovereignti',
 '.',
 'articl',
 '3',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'life',
 ',',
 'liberti',
 'and',
 'secur',
 'of',
 'person',
 '.',
 'articl',
 '4',
 'no',
 'one',
 'shall',
 'be',
 'held',
 'in',
 'slaveri',
 'or',
 'servitud',
 ';',
 'slaveri',
 'and',
 'the',
 'slave',
 'trade',
 'shall',
 'be',
 'prohibit',
 'in',
 'all',
 'their',
 'form',
 '.',
 'articl',
 '5',
 'no',
 'one',
 'shall',
 'be',
 'subject',
 'to',
 'tortur',
 'or',
 'to',
 'cruel',
 ',',
 'inhuman',
 'or',
 'degrad',
 'treatment',
 'or',
 'punish',
 '.',
 'articl',
 '6',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'recognit',
 'everywher',
 'as',
 'a',
 'person',
 'befor',
 'the',
 'law',
 '.',
 'articl',
 '7',
 'all',
 'are',
 'equal',
 'befor',
 'the',
 'law',
 'and',
 'are',
 'entitl',
 'without',
 'ani',
 'discrimin',
 'to',
 'equal',
 'protect',
 'of',
 'the',
 'law',
 '.',
 'all',
 'are',
 'entitl',
 'to',
 'equal',
 'protect',
 'against',
 'ani',
 'discrimin',
 'in',
 'violat',
 'of',
 'thi',
 'declar',
 'and',
 'against',
 'ani',
 'incit',
 'to',
 'such',
 'discrimin',
 '.',
 'articl',
 '8',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'an',
 'effect',
 'remedi',
 'by',
 'the',
 'compet',
 'nation',
 'tribun',
 'for',
 'act',
 'violat',
 'the',
 'fundament',
 'right',
 'grant',
 'him',
 'by',
 'the',
 'constitut',
 'or',
 'by',
 'law',
 '.',
 'articl',
 '9',
 'no',
 'one',
 'shall',
 'be',
 'subject',
 'to',
 'arbitrari',
 'arrest',
 ',',
 'detent',
 'or',
 'exil',
 '.',
 'articl',
 '10',
 'everyon',
 'is',
 'entitl',
 'in',
 'full',
 'equal',
 'to',
 'a',
 'fair',
 'and',
 'public',
 'hear',
 'by',
 'an',
 'independ',
 'and',
 'imparti',
 'tribun',
 ',',
 'in',
 'the',
 'determin',
 'of',
 'hi',
 'right',
 'and',
 'oblig',
 'and',
 'of',
 'ani',
 'crimin',
 'charg',
 'against',
 'him',
 '.',
 'articl',
 '11',
 'everyon',
 'charg',
 'with',
 'a',
 'penal',
 'offenc',
 'ha',
 'the',
 'right',
 'to',
 'be',
 'presum',
 'innoc',
 'until',
 'prove',
 'guilti',
 'accord',
 'to',
 'law',
 'in',
 'a',
 'public',
 'trial',
 'at',
 'which',
 'he',
 'ha',
 'had',
 'all',
 'the',
 'guarante',
 'necessari',
 'for',
 'hi',
 'defenc',
 '.',
 'no',
 'one',
 'shall',
 'be',
 'held',
 'guilti',
 'of',
 'ani',
 'penal',
 'offenc',
 'on',
 'account',
 'of',
 'ani',
 'act',
 'or',
 'omiss',
 'which',
 'did',
 'not',
 'constitut',
 'a',
 'penal',
 'offenc',
 ',',
 'under',
 'nation',
 'or',
 'intern',
 'law',
 ',',
 'at',
 'the',
 'time',
 'when',
 'it',
 'wa',
 'commit',
 '.',
 'nor',
 'shall',
 'a',
 'heavier',
 'penalti',
 'be',
 'impos',
 'than',
 'the',
 'one',
 'that',
 'wa',
 'applic',
 'at',
 'the',
 'time',
 'the',
 'penal',
 'offenc',
 'wa',
 'commit',
 '.',
 'articl',
 '12',
 'no',
 'one',
 'shall',
 'be',
 'subject',
 'to',
 'arbitrari',
 'interfer',
 'with',
 'hi',
 'privaci',
 ',',
 'famili',
 ',',
 'home',
 'or',
 'correspond',
 ',',
 'nor',
 'to',
 'attack',
 'upon',
 'hi',
 'honour',
 'and',
 'reput',
 '.',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'the',
 'protect',
 'of',
 'the',
 'law',
 'against',
 'such',
 'interfer',
 'or',
 'attack',
 '.',
 'articl',
 '13',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'freedom',
 'of',
 'movement',
 'and',
 'resid',
 'within',
 'the',
 'border',
 'of',
 'each',
 'state',
 '.',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'leav',
 'ani',
 'countri',
 ',',
 'includ',
 'hi',
 'own',
 ',',
 'and',
 'to',
 'return',
 'to',
 'hi',
 'countri',
 '.',
 'articl',
 '14',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'seek',
 'and',
 'to',
 'enjoy',
 'in',
 'other',
 'countri',
 'asylum',
 'from',
 'persecut',
 '.',
 'thi',
 'right',
 'may',
 'not',
 'be',
 'invok',
 'in',
 'the',
 'case',
 'of',
 'prosecut',
 'genuin',
 'aris',
 'from',
 'non',
 '-',
 'polit',
 'crime',
 'or',
 'from',
 'act',
 'contrari',
 'to',
 'the',
 'purpos',
 'and',
 'principl',
 'of',
 'the',
 'unit',
 'nation',
 '.',
 'articl',
 '15',
 'everyon',
 'ha',
 'the',
 'right',
 'to',
 'a',
 'nation',
 '.',
 'no',
 'one',
 'shall',
 'be',
 'arbitrarili',
 'depriv',
 'of',
 'hi',
 'nation',
 'nor',
 'deni',
 'the',
 'right',
 'to',
 'chang',
 'hi',
 'nation',
 '.',
 'articl',
 '16',
 'men',
 'and',
 'women',
 'of',
 'full',
 'age',
 ',',
 'without',
 'ani',
 'limit',
 'due',
 'to',
 'race',
 ',',
 'nation',
 'or',
 'religion',
 ',',
 'have',
 'the',
 'right',
 'to',
 'marri',
 'and',
 'to',
 'found',
 'a',
 'famili',
 '.',
 'they',
 'are',
 'entitl',
 'to',
 'equal',
 'right',
 'as',
 'to',
 'marriag',
 ',',
 'dure',
 'marriag',
 'and',
 'at',
 'it',
 'dissolut',
 '.',
 'marriag',
 'shall',
 'be',
 ...]

## Lemmatization

In [36]:
## lemmatization: Stemming, but resulting stems are all valid words
WNlemma = nltk.WordNetLemmatizer()
[WNlemma.lemmatize(t) for t in udhr[:20]]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

## Tokenization

In [41]:
text11 = "Children should not drink a sugary drink before bed."
text11.split(' ')

['Children',
 'should',
 'not',
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed.']

In [42]:
nltk.word_tokenize(text11)

['Children',
 'should',
 'not',
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [43]:
## how you would split sentences from a long text string
text12 = "This is the first sentence. A gallon of milk in the U.S costs $2.99. Is this this the third sentence. Yes, it is!"

In [45]:
## sent_tokenizer
sentences = nltk.sent_tokenize(text12)
sentences

['This is the first sentence.',
 'A gallon of milk in the U.S costs $2.99.',
 'Is this this the third sentence.',
 'Yes, it is!']

In [46]:
len(sentences)

4

## Advance Natural Language Task

### Part of speech tagging (POS)

In [49]:
import nltk
nltk.help.upenn_tagset('MD') ##Modal

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

In [50]:
nltk.help.upenn_tagset('CC')

CC: conjunction, coordinating
    & 'n and both but either et for less minus neither nor or plus so
    therefore times v. versus vs. whether yet

In [51]:
nltk.help.upenn_tagset('DT')

DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those

In [52]:
text11 = "Children should not drink a sugary drink before bed."

In [53]:
text13 = nltk.word_tokenize(text11)

In [55]:
# nltk tokenizer getting the postags
nltk.pos_tag(text13)

[('Children', 'NNP'),
 ('should', 'MD'),
 ('not', 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

In [57]:
# ambiguity in POST Tagging
text14 = nltk.word_tokenize("Visiting aunts can be a nuisance")

In [58]:
nltk.pos_tag(text14)

[('Visiting', 'VBG'),
 ('aunts', 'NNS'),
 ('can', 'MD'),
 ('be', 'VB'),
 ('a', 'DT'),
 ('nuisance', 'NN')]

In [59]:
text15 = nltk.word_tokenize('Alice loves Bob')
text15

['Alice', 'loves', 'Bob']

In [60]:
grammar = nltk.CFG.fromstring("""
S -> NP VP
VP -> V NP
NP -> 'Alice' | 'Bob'
V -> 'loves'
""")
# there could be ambiguity even if the sentence is grammatically correct 
# we can write a grammar configuration file

In [62]:
parser = nltk.ChartParser(grammar)
trees = parser.parse_all(text15)
for tree in trees:
    print(tree)

(S (NP Alice) (VP (V loves) (NP Bob)))

In [63]:
## nltk and Parse Tree Collection
from nltk.corpus import treebank

text17 = treebank.parsed_sents('wsj_0001.mrg')[0]

In [64]:
print(text17)

(S
  (NP-SBJ
    (NP (NNP Pierre) (NNP Vinken))
    (, ,)
    (ADJP (NP (CD 61) (NNS years)) (JJ old))
    (, ,))
  (VP
    (MD will)
    (VP
      (VB join)
      (NP (DT the) (NN board))
      (PP-CLR (IN as) (NP (DT a) (JJ nonexecutive) (NN director)))
      (NP-TMP (NNP Nov.) (CD 29))))
  (. .))

## Identifying features in text
- words

- stop-words (articules, commonly-occuring words)

- normalization (make lower case vs. leave as-is)

- stemming/lemmatization

- characteristics of words: Capitalizacion

- Parts of speech of words in sentences

- Grammatical structure, sentences parcing

- Grouping words of simmilar meaning, semantics (buy, purchase); (Mr. Dr. Prof.) (Numbers, Digits; Dates)

- Bigrams, Trigrams, n-grams: "White House"

- Character sub-sequences in words: "ing", "ion"

## Naive Bayes

In [66]:
## Case of Study 3 classes.
## Naive Bayes Classifier it is a probabilistic model, it is naive, 
# because it assumes features are independent of each other. given the class label
# For classification problems, naive bayes provides very strong baselines.
# it is a simple model, easy to learn parameters

### Two classic naive bayes variants for text
- Multinomial Naive Bayes:

    Data folows a multinomial distribution (word frequency is important)

    Each feature value is a count (word ocurrenies counts, TF-IDF, weights) 

    The number of ocurrenies of the words is important
    
    So it is important to know the frequecy of the words

- Bernoulli Naive Bayes: (word frequency is not important)

    Data folows a miltinomial bernoulli distribution

    Each feature is binary (it is presente or not)

## Support Vector Machines
Classifier is a function on input data.

Decision Boundaries: Is the shape or the surface which separates one class from another.

Data overfitting: Decision boundry learned over training data doesnt generalize to test data.

Linear boundaries: Easy to find, easy to evaluate

"Simple models generalize well". Finding linear boundaries:
- Perceptron, Linear Discriminative Analysis, Linear least squares

## Sentiment Analysis on Amazon Reviews

In [6]:
import pandas as pd
import numpy as np 

df = pd.read_csv('Amazon_Unlocked_Mobile.csv')
df.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0

In [14]:
import warnings
warnings.filterwarnings('ignore')
## dropping al rows with null values
df.dropna(inplace = True)
## getting only the rows with rating is different than 3
df = df[df['Rating']!=3]
## creating the column Positively Rate 
df['Positively Rated'] = np.where(df['Rating'] > 3,1, 0)
df.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes,Positively Rated
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0,1
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0,1
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0,1
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0,1
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0,1

In [17]:
## we got an imbalance class
df['Positively Rated'].mean()

0.7504725897920604

In [18]:
from sklearn.model_selection import train_test_split
## Spliting in training and test sets
X = df['Reviews']
y = df['Positively Rated']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [19]:
print('X_train', X_train.shape)

X_train (3967,)

### CountVectorizer

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer().fit(X_train)
## getting the vocabulary in trainin data
vect.get_feature_names()[0:2000]

['00',
 '01',
 '02',
 '03pm',
 '04pm',
 '08',
 '0829',
 '0cant',
 '0ghz',
 '0mp',
 '0mps87ysgrvp9gkhps5d',
 '10',
 '100',
 '10000',
 '100gb',
 '101',
 '1020',
 '1080',
 '1080p',
 '10am',
 '10gb',
 '10mp',
 '10th',
 '11',
 '110',
 '110v',
 '110w',
 '115',
 '11pm',
 '12',
 '120',
 '125',
 '128',
 '1280',
 '1280x720',
 '128gb',
 '128gigs',
 '12mpx',
 '13',
 '132',
 '13mp',
 '13th',
 '14',
 '140',
 '1400',
 '1400mah',
 '140g',
 '1440p',
 '149',
 '15',
 '150',
 '1520',
 '15ended',
 '15updated',
 '16',
 '160',
 '169',
 '16g',
 '16gb',
 '16mp',
 '17',
 '1700',
 '171730876692',
 '175',
 '179',
 '18',
 '180',
 '1800',
 '19',
 '190',
 '1900',
 '1920x1080',
 '1920x1080p',
 '195',
 '196',
 '1970',
 '199',
 '1999',
 '19th',
 '1gb',
 '1hoir',
 '1mbps',
 '1min',
 '1month',
 '1mp',
 '1power',
 '1s',
 '1st',
 '1this',
 '1x',
 '20',
 '200',
 '2000',
 '2009',
 '200g',
 '200gb',
 '200mb',
 '2012',
 '2013',
 '2014',
 '2015',
 '2015battery',
 '2015okay',
 '2015phone',
 '2016',
 '2016just',
 '2017',
 '2025',
 '20781',
 '20g',
 '20ish',
 '20x',
 '21',
 '2100',
 '214',
 '2153843082',
 '22',
 '220',
 '220i',
 '235',
 '23rd',
 '24',
 '240',
 '2407749011',
 '2407749011_p0_h',
 '249',
 '25',
 '250',
 '256',
 '256mb',
 '25cm',
 '260',
 '270',
 '277',
 '28',
 '280',
 '288',
 '29',
 '2910mah',
 '2915mah',
 '294',
 '2950',
 '299',
 '2amp',
 '2d',
 '2days',
 '2g',
 '2gb',
 '2ghz',
 '2in1',
 '2k',
 '2mm',
 '2mp',
 '2nd',
 '2pm',
 '2really',
 '2wks',
 '2x',
 '30',
 '300',
 '3000',
 '3000mah',
 '302',
 '303',
 '30am',
 '30fps',
 '30ish',
 '30mb',
 '30pm',
 '30sec',
 '30th',
 '30x',
 '31',
 '312',
 '31st',
 '32',
 '324',
 '32gb',
 '330',
 '33831',
 '34',
 '35',
 '350',
 '3500mah',
 '360',
 '360p',
 '368',
 '36megapixels',
 '37',
 '38',
 '39',
 '39pm',
 '3am',
 '3d',
 '3g',
 '3gb',
 '3gcellphone',
 '3gs',
 '3rd',
 '3weeks',
 '3x',
 '3years',
 '40',
 '400',
 '4000',
 '401',
 '401ppi',
 '405',
 '410',
 '43',
 '44',
 '45',
 '45am',
 '48',
 '480p',
 '480x854',
 '4core',
 '4g',
 '4gb',
 '4ghz',
 '4glte',
 '4in',
 '4k',
 '4months',
 '4pm',
 '4s',
 '4years',
 '50',
 '500',
 '5000',
 '50mb',
 '512mb',
 '52',
 '520',
 '54',
 '55',
 '55mb',
 '577',
 '59',
 '5c',
 '5g',
 '5gb',
 '5ghz',
 '5in',
 '5ish',
 '5j',
 '5mm',
 '5mp',
 '5s',
 '5th',
 '5x',
 '5xdesignthis',
 '60',
 '600',
 '60fps',
 '615',
 '62',
 '64',
 '640',
 '64g',
 '64gb',
 '650',
 '652',
 '66',
 '67',
 '6hrs',
 '6i',
 '6in',
 '6mb',
 '6p',
 '6s',
 '6th',
 '70',
 '700',
 '700mhz',
 '70mb',
 '70s',
 '71',
 '710',
 '720',
 '720p',
 '740',
 '75',
 '750',
 '75gb',
 '77',
 '78',
 '7am',
 '7hr',
 '7inch',
 '80',
 '800',
 '801',
 '802',
 '805',
 '80gb',
 '81',
 '820',
 '830',
 '84',
 '85',
 '850',
 '855',
 '88',
 '8890',
 '8gb',
 '8inch',
 '8mp',
 '90',
 '900',
 '911',
 '92',
 '925',
 '93',
 '930',
 '935fd',
 '95',
 '98',
 '99',
 '99dollars',
 '9pm',
 '9th',
 '____',
 'a1',
 'a15',
 'a3',
 'a5',
 'a53',
 'a53s',
 'a57',
 'a7',
 'a8',
 'aaaaa',
 'aarp',
 'abbey',
 'ability',
 'abit',
 'able',
 'about',
 'above',
 'absolute',
 'absolutely',
 'absolutly',
 'absorbing',
 'absurdly',
 'abundant',
 'abuse',
 'abysmal',
 'abysmaltap',
 'ac',
 'acatel',
 'accent',
 'accept',
 'acceptable',
 'accepted',
 'accepting',
 'accepts',
 'accesories',
 'accesorios',
 'access',
 'accessibility',
 'accessing',
 'accessories',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accidently',
 'accommodate',
 'accomplish',
 'accomplished',
 'accomplishes',
 'accomplishing',
 'according',
 'accordingly',
 'account',
 'accounts',
 'accuracy',
 'accurate',
 'accurately',
 'accustomed',
 'acer',
 'achieve',
 'acivate',
 'acknowledged',
 'acount',
 'acquisition',
 'across',
 'act',
 'acted',
 'acting',
 'action',
 'activate',
 'activated',
 'activating',
 'activation',
 'active',
 'actively',
 'activities',
 'activity',
 'acts',
 'actual',
 'actuality',
 'actually',
 'acurate',
 'acurrate',
 'ad',
 'adaptar',
 'adapter',
 'adapters',
 'adaptert',
 'adaptive',
 'adaptor',
 'add',
 'added',
 'addict',
 'addicted',
 'adding',
 'addition',
 'additional',
 'additionally',
 'additions',
 'address',
 'addressed',
 'addresses',
 'addressing',
 'adds',
 'addtion',
 'adecuado',
 'adequate',
 'adequately',
 'adhesive',
 'adicional',
 'adjust',
 'adjustable',
 'adjusted',
 'adjusting',
 'adjustment',
 'adjusts',
 'admirably',
 'admission',
 'admit',
 'admitted',
 'adobe',
 'adolescent',
 'adore',
 'adroid',
 'ads',
 'adult',
 'adults',
 'advance',
 'advanced',
 'advantage',
 'advantages',
 'advert',
 'advertise',
 'advertised',
 'advertisement',
 'advertisements',
 'advertising',
 'advertized',
 'advice',
 'adviced',
 'advise',
 'advised',
 'advising',
 'aesthetic',
 'aesthetics',
 'affect',
 'affects',
 'affiliated',
 'affiliation',
 'afford',
 'affordability',
 'affordable',
 'afghanistan',
 'aforementioned',
 'afraid',
 'africa',
 'after',
 'afternoon',
 'afterwards',
 'again',
 'against',
 'age',
 'aged',
 'agent',
 'agents',
 'aggravation',
 'agian',
 'aging',
 'ago',
 'agonizingly',
 'agree',
 'agreed',
 'agressive',
 'ahead',
 'ahold',
 'aida64',
 'aids',
 'ain',
 'air',
 'airdrop',
 'airplane',
 'airport',
 'akg',
 'al',
 'alarm',
 'alarming',
 'alarms',
 'albeit',
 'alcatel',
 'alcatels',
 'alert',
 'alexis',
 'aligned',
 'alive',
 'all',
 'allegedly',
 'allevatev',
 'alleviate',
 'allot',
 'allover',
 'allow',
 'allowed',
 'allowing',
 'allows',
 'all',
 'almoed',
 'almost',
 'alone',
 'along',
 'alot',
 'alpha',
 'already',
 'alright',
 'also',
 'alternative',
 'alternativei',
 'alternatively',
 'although',
 'altogether',
 'altough',
 'aluminum',
 'always',
 'alwayspower',
 'am',
 'amazed',
 'amazes',
 'amazing',
 'amazingly',
 'amazon',
 'amazone',
 'amazonhorrible',
 'america',
 'american',
 'ammended',
 'amoled',
 'among',
 'amongst',
 'amoung',
 'amount',
 'amp',
 'amped',
 'amzn',
 'an',
 'anal',
 'ancient',
 'and',
 'andkeep',
 'andoid',
 'andriod',
 'android',
 'androidpicks',
 'androids',
 'ands',
 'andthe',
 'angle',
 'angled',
 'angles',
 'angry',
 'animation',
 'animations',
 'anime',
 'announced',
 'announcer',
 'annoy',
 'annoyances',
 'annoying',
 'annoyingly',
 'annoys',
 'annually',
 'anomalies',
 'another',
 'ans',
 'answer',
 'answered',
 'answering',
 'answers',
 'antartica',
 'antenna',
 'anti',
 'anticipated',
 'antiquated',
 'antislip',
 'antivirus',
 'antivirusvery',
 'antonio',
 'antutu',
 'anxious',
 'any',
 'anybody',
 'anyhow',
 'anymore',
 'anyone',
 'anyonecan',
 'anything',
 'anytime',
 'anyway',
 'anyways',
 'anywhere',
 'aosp',
 'ap',
 'apaga',
 'apart',
 'apathetic',
 'apecialy',
 'aperture',
 'apn',
 'apologetic',
 'apologized',
 'app',
 'appalled',
 'apparent',
 'apparently',
 'appeal',
 'appealing',
 'appear',
 'appearance',
 'appeared',
 'appearing',
 'appears',
 'apple',
 'apples',
 'applicaions',
 'application',
 'applications',
 'applied',
 'apply',
 'applying',
 'appointments',
 'appps',
 'appreciate',
 'appreciated',
 'appreciating',
 'apprehension',
 'apprehensive',
 'approach',
 'approaching',
 'appropriate',
 'approximately',
 'apps',
 'april',
 'aps',
 'apt',
 'apx',
 'aquarium',
 'arab',
 'arabia',
 'arabic',
 'are',
 'area',
 'areas',
 'aren',
 'arent',
 'argentina',
 'arguably',
 'argue',
 'arise',
 'arived',
 'arizona',
 'arm',
 'armor',
 'armored',
 'armorsuit',
 'arms',
 'around',
 'arrange',
 'arranged',
 'arrangement',
 'arranging',
 'arrival',
 'arrive',
 'arrived',
 'arrives',
 'arriving',
 'art',
 'article',
 'articles',
 'articulo',
 'artifacts',
 'artificial',
 'as',
 'asap',
 'ascend',
 'ascertain',
 'ascree',
 'asha',
 'ashley',
 'asia',
 'asian',
 'aside',
 'asides',
 'ask',
 'asked',
 'asking',
 'asks',
 'asleep',
 'aspect',
 'aspects',
 'asphalt',
 'assembled',
 'assembly',
 'assertive',
 'assess',
 'assigned',
 'assist',
 'assistance',
 'assistant',
 'associate',
 'assume',
 'assumes',
 'assuming',
 'assumption',
 'assured',
 'assurred',
 'asterisks',
 'astonished',
 'astonishing',
 'astute',
 'asurion',
 'asus',
 'at',
 'ather',
 'atleast',
 'atm',
 'atrocious',
 'att',
 'attach',
 'attached',
 'attaches',
 'attacks',
 'attempt',
 'attempted',
 'attempting',
 'attempts',
 'attention',
 'attract',
 'attractive',
 'atvpdkikx0der',
 'auction',
 'audacity',
 'audible',
 'audio',
 'audiobook',
 'audiobooks',
 'audiophile',
 'aug',
 'august',
 'aukey',
 'australia',
 'australian',
 'austria',
 'authentic',
 'authority',
 'authorized',
 'autistic',
 'auto',
 'autofocus',
 'automated',
 'automatially',
 'automatic',
 'automatically',
 'av',
 'availability',
 'available',
 'availablewhat',
 'avant',
 'average',
 'average1',
 'averaged',
 'averting',
 'avg',
 'aviate',
 'avoid',
 'avoiding',
 'aw',
 'await',
 'award',
 'aware',
 'awarethis',
 'away',
 'awe',
 'awesome',
 'awesomw',
 'awful',
 'awhile',
 'awkward',
 'awsome',
 'axon',
 'b00pejqu9m',
 'b00zoer95q',
 'b01acxskag',
 'b01auoracqand',
 'b01cju9bbm',
 'b01gyudmfy',
 'b3',
 'babies',
 'baby',
 'babysitting',
 'back',
 'backed',
 'backgammon',
 'background',
 'backgrounds',
 'backing',
 'backlight',
 'backlit',
 'backside',
 'backspace',
 'backup',
 'backward',
 'backwards',
 'bacon',
 'bad',
 'badbesides',
 'badboth',
 'badly',
 'bads',
 'badstill',
 'bag',
 'bags',
 'bahasa',
 'baisc',
 'balance',
 'balanced',
 'balancing',
 'balloon',
 'bananas',
 'band',
 'bands',
 'bandsstylish',
 'bandwagon',
 'bang',
 'bank',
 'bar',
 'barely',
 'bargain',
 'bars',
 'base',
 'based',
 'baseline',
 'basement',
 'basic',
 'basically',
 'basics',
 'basis',
 'basketball',
 'bass',
 'bassy',
 'bat',
 'batch',
 'batches',
 'batery',
 'bath',
 'batt',
 'batter',
 'batteries',
 'battery',
 'battery1',
 'batteryif',
 'batteryscreen',
 'baytery',
 'bb',
 'bbb',
 'bbq',
 'bbrewer2',
 'bc',
 'bday',
 'be',
 'beach',
 'beacouse',
 'bear',
 'bearings',
 'beast',
 'beastly',
 'beat',
 'beaten',
 'beats',
 'beautiful',
 'beautifulcons',
 'beautifully',
 'beautify',
 'beauty',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'becons',
 'becuase',
 'bed',
 'bedore',
 'beef',
 'beefy',
 'been',
 'beep',
 'beeps',
 'beetle',
 'before',
 'began',
 'beggining',
 'begin',
 'beginner',
 'beginning',
 'begins',
 'begun',
 'behalf',
 'behave',
 'behind',
 'behold',
 'beiber',
 'being',
 'believe',
 'believed',
 'bell',
 'bells',
 'belong',
 'below',
 'belt',
 'bem',
 'benchmarks',
 'bend',
 'beneath',
 'beneficial',
 'beneficiary',
 'benefit',
 'benefits',
 'benjamin',
 'bent',
 'beside',
 'besides',
 'best',
 'bestsellers',
 'bet',
 'beta',
 'beterrible',
 'bettary',
 'bettary7',
 'better',
 'between',
 'beware',
 'beyond',
 'bezel',
 'bezels',
 'biased',
 'bid',
 'bien',
 'big',
 'bigeasy',
 'bigger',
 'biggest',
 'biggies',
 'biggy',
 'bill',
 'billed',
 'bills',
 'binge',
 'birds',
 'birght',
 'birthday',
 'bit',
 'bite',
 'bites',
 'biting',
 'bitterroot',
 'bizarre',
 'bl',
 'bla',
 'black',
 'blackberry',
 'blackberrys',
 'blacked',
 'blacklosted',
 'blacks',
 'blades',
 'blah',
 'blame',
 'blamed',
 'blaming',
 ...]

In [28]:
len(vect.get_feature_names())

7647

In [29]:
## tranformar a una matriz trmino documento
X_train_vectorized = vect.transform(X_train)
X_train_vectorized

<3967x7647 sparse matrix of type '<class 'numpy.int64'>'
	with 126874 stored elements in Compressed Sparse Row format>

In [30]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train_vectorized, y_train)

LogisticRegression()

In [34]:
from sklearn.metrics import roc_auc_score
# aplicamos el vect.transform para crear la matriz trmino documento en testing
y_pred = lr.predict(vect.transform(X_test))
print('AUC: ', roc_auc_score(y_test, y_pred))

AUC:  0.9021627333789063

In [41]:
## Coefficients of the model
feature_names = np.array(vect.get_feature_names())
sorted_coef_index = lr.coef_[0].argsort() ## genera una lista con las posiciones de los valores ordenados

print('Smallest coefs:', feature_names[sorted_coef_index[:10]])
print('Largest coefs:',feature_names[sorted_coef_index[-11:-1]])

## Los coeficientes bajos corresponden a reviews negativas
## Los coeficientes altos corresponden a reviews positivos

Smallest coefs: ['work' 'terrible' 'broken' 'slow' 'lines' 'back' 'cracked' 'not' 'bad'
 'junk']
Largest coefs: ['expected' 'excelent' 'satisfied' 'good' 'best' 'excelente' 'perfect'
 'awesome' 'excellent' 'love']

In [42]:
sorted_coef_index[:10]

array([7542, 6747, 1142, 6196, 3965,  820, 1742, 4550,  834, 3747])

### Tfidf
Allow us to weight words base on how important they are in a document.

Es una forma de escalar los features.

Se puede usar tambin para reducir la cantidad de features.

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer(min_df=5).fit(X_train) # features que aparecen solo en min 5 docs
len(vect.get_feature_names()) # pasamos de 7k a 2k features

2422

In [51]:
X_train_vectorized = vect.transform(X_train)

lr = LogisticRegression().fit(X_train_vectorized, y_train)

X_test_vectorized = vect.transform(X_test)
y_pred = lr.predict(X_test_vectorized)

print('AUC ', roc_auc_score(y_test, y_pred))

AUC  0.8459432678377684

In [52]:
## Coefficients of the model
feature_names = np.array(vect.get_feature_names())
sorted_tdidf_coef_index = lr.coef_[0].argsort()

print('Smallest coefs:', feature_names[sorted_tdidf_coef_index[:10]])
print('Largest coefs:',feature_names[sorted_tdidf_coef_index[-11:-1]])

Smallest coefs: ['not' 'work' 'back' 'after' 'broken' 'terrible' 'slow' 'bad' 'returned'
 'screen']
Largest coefs: ['excelente' 'as' 'awesome' 'price' 'works' 'best' 'perfect' 'good'
 'excellent' 'love']

In [54]:
 lr.coef_[0]

array([-0.43430906,  0.05715287,  0.60036299, ...,  0.33131396,
        0.01863968, -0.11059223])

In [71]:
## Ejemplo de argsort
a = np.array([4,5,6,3,1,2,11,33,2,1,4])
sorted_a_index = a.argsort()

print('Primeros 3 elementos ordenados:', a[sorted_a_index[:3]])
print('Ultimos 3 elementos ordenados:', a[sorted_a_index[-4:-1]])

Primeros 3 elementos ordenados: [1 1 2]
Ultimos 3 elementos ordenados: [ 5  6 11]

In [62]:
sorted_a_index

array([ 4,  9,  5,  8,  3,  0, 10,  1,  2,  6,  7])

### n-grams

In [76]:
vect = CountVectorizer(min_df=5, ngram_range= (1,2))
vect = vect.fit(X_train)
len(vect.get_feature_names()) ## Pasamos de 7200 a 8200 featuress

8238

In [82]:
X_train_vectorized = vect.transform(X_train)
model = LogisticRegression().fit(X_train_vectorized, y_train)

y_pred = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, y_pred)) # Mejoramos un poquito de 0.902 a 0.908

AUC:  0.908126948090636

In [84]:
## Coefficients of the model
feature_names = np.array(vect.get_feature_names())
sorted_tdidf_coef_index = lr.coef_[0].argsort()

print('Smallest coefs:', feature_names[sorted_tdidf_coef_index[:10]])
print('Largest coefs:',feature_names[sorted_tdidf_coef_index[-11:-1]])

Smallest coefs: ['carry' 'for him' 'all in' 'accidentally' 'amount' 'exceptional'
 'dropped it' 'all its' 'despite' 'disappointed']
Largest coefs: ['aren' 'age' 'all good' 'constant' 'for in' 'alternative to' 'code'
 'battery drains' 'argentina' 'but when']

## Semantic Text Similarity
- Grouping similar words into semantic concepts
- Build block in natural language understanding task
    - Textual entailment
    - Paraphrasing
- Word Net
    - Semantic dictionary of words, interlinked by semantic relations
    - It includes rich lingusitic information
        - Part of speech, word senses, synonyms, hypernyms, ...
    - Machine-readable, freely available