In [6]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "

In [7]:
len(text1)

76

In [10]:
text2 = text1.split(' ')
len(text2)

14

In [11]:
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

In [12]:
[w for w in text2 if len(w)>3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [13]:
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [14]:
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [16]:
text3 = 'To be or not to be'
text4 = text3.split(' ')
text4

['To', 'be', 'or', 'not', 'to', 'be']

In [18]:
len(set(text4))

5

In [19]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [22]:
len(set([w.lower() for w in text4]))

4

In [23]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

In [ ]:
## s.isupper(); s.islower(); s.istitle()
## s.isalpha(); s.isdigit(); s.isalnum()
## s.lower(); s.upper(); s.titlecas()
## s.split(t)
## s.splitlines()
## s.join(t)
## s.strip(); s.rstrip()
## s.find(t); s.rfind(t)
## s.replace(u, v)

In [25]:
text5 = 'ouagadougou'
text6 = text5.split('ou')
text6

['', 'agad', 'g', '']

In [27]:
'ou'.join(text6)

'ouagadougou'

In [29]:
text5.split('')

ValueError: empty separator

In [30]:
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [31]:
[c for c in text5]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [34]:
## cleaning text
text8 = '       A quick brown fox jumped over the lazy dog. '

In [35]:
text8.split(' ')

['',
 '',
 '',
 '',
 '',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [36]:
text9 = text8.strip()
text9

'A quick brown fox jumped over the lazy dog.'

In [37]:
text9.split()

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [39]:
text9.find('o')

10

In [40]:
text9.rfind('o')

40

In [41]:
text9.replace('o', 'O')

'A quick brOwn fOx jumped Over the lazy dOg.'

In [42]:
pwd

'/media/eduardo/Datos/repo_personal/DataScience/coursera'

In [45]:
## reading texts
f = open('../Datasets/udhr.txt', 'r')
f.readline()

'Hola este es un archivo de prueba\n'

In [46]:
f = open('../Datasets/udhr.txt', 'r')
f.seek(0)  #reset the reading
text12 = f.read()
len(text12)

3264

In [48]:
text13 = text12.splitlines()

In [50]:
len(text13)

96

In [52]:
text13

['Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba',
 'Hola este es un archivo de prueba']

In [51]:
text13[0]

'Hola este es un archivo de prueba'

In [ ]:
# Files operations
## f = open(filename, mode)
## f.readline(); f.read(); f.read(n)
# for line in f: doSomething(line)
# f.seek(n) # resete de reading position
# f.write(message)
# f.close()
# f.closed

In [56]:
f = open('../Datasets/udhr.txt', 'r')
text14 = f.readline()
text14.replace('\n', '')

'Hola este es un archivo de prueba'

In [58]:
text14.rstrip() # it is another way

'Hola este es un archivo de prueba'

In [59]:
## Regular Expresions
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

In [61]:
text8 = text7.split(' ')
text8

['@UN',
 '@UN_Women',
 '"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [62]:
[w for w in text8 if w.startswith('#')] #hashtags

['#UNSG']

In [63]:
[w for w in text8 if w.startswith('@')] #callouts

['@UN', '@UN_Women', '@']

In [70]:
import re
[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [71]:
import re
[w for w in text8 if re.search('@[\w]+', w)]

['@UN', '@UN_Women']

## Character Simbols:

. : maches a single character

^ : start of a string

$ : end of the string

[] : matches one of the set of characters within []

[a-z]: 

[^abc]: matches a character that is not a,b, or c

a|b : matches a or b, where a and b are strings

(): scoping for operators

\ : escape character for special characters (\t, \n, \b)

\b : matches word boundry

\d : Any digit equivalent to [0-9]

\D : Any non digit equivalent to [^0-9]

\s : Any white space character

\S : Any non white space character

\w : Alphanumeric character

\W : Any non alphanumeric character

## Character Repetitions
'*' : matches 0 or more occurrences

'+' : matches 1 or more occurrences

'?' : 0 or 1

{n} : exactly n times

{n,}: at least n repetitions

{,n}: at most n repetitions

{n,m}: at least n times and at most m times

In [72]:
import re
[w for w in text8 if re.search('@\w+', w)]

['@UN', '@UN_Women']

In [73]:
text12 = 'ouagadougou'
re.findall(f'[aeiou]', text12) # finding all the vowels

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [74]:
re.findall(f'[^aeiou]', text12) # finding all the consonants

['g', 'd', 'g']

In [75]:
dateStr = '23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 Octuber 2002\nOct 23, 2002\nOctuber 23, 2002 \n'

In [81]:
re.findall('\d{1,2}[/-]+\d{1,2}[/-]+\d{2,4}', dateStr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [82]:
re.findall('\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dic) \d{4}', dateStr)

['Oct']

In [83]:
# ?: para que no te quedes con el scope especificados en ()

re.findall('\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dic) \d{4}', dateStr)

['23 Oct 2002']

In [85]:
re.findall('\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dic)[a-z]* \d{4}', dateStr)

['23 Oct 2002', '23 Octuber 2002']

In [87]:
re.findall('(?:\d{2} )? (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dic)[a-z]* (?:\d{2}, )?\d{4}', dateStr)

[' Oct 2002', ' Octuber 2002']

In [88]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [95]:
# muestra la longitud de cada uno de los textos
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [97]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [98]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [99]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [100]:
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [102]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [104]:
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [105]:
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [108]:
df['text'].str.findall(r'(\d?\d):(\d?\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [109]:
df['text'].str.replace(r'\w+day\b', '???')

/tmp/ipykernel_57358/2023952851.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [112]:
df['text'].str.replace(r'(\w+day\b)', lambda x:x.groups()[0][:3])

/tmp/ipykernel_57358/690487868.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'(\w+day\b)', lambda x:x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [113]:
df['text'].str.extract(r'(\d?\d):(\d?\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [117]:
df['text'].str.extractall(r'((\d?\d):(\d?\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [118]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

In [ ]:
## ASCII American Standard Code for information interchange